<header class="site-header navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container site-header__inner">
    <a class="navbar-brand site-brand animate__animated animate__pulse" href="./index.html">
      <img src="./assets/images/logo.png?width=72" alt="Logo de las jornadas sobre artesanía" class="site-brand__logo animate__animated animate__pulse animate__infinite animate__slower" />
      <span class="site-brand__text">Artesanía viva</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavigation" aria-controls="siteNavigation" aria-expanded="false" aria-label="Abrir navegación">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>